<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="GitLive\GitLive">
            <directory suffix="Test.php">tests/Tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </source>
    <coverage>
        <report>
            <text outputFile="./covers/coverage" showUncoveredFiles="true" showOnlySummary="false"/>
            <html outputDirectory="./covers/git-live"/>
        </report>
    </coverage>
    <php>
        <env name="APP_ENV" value="testing" />
    </php>
    <logging>
        <testdoxText outputFile="php://stdout"/>
    </logging>
</phpunit>
